<a href="https://www.kaggle.com/code/rigoswami/preprocessing?scriptVersionId=153457900" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("/kaggle/input/southwest-airlines/southwest_train.csv")

In [42]:
df_notcancelled = df[df["Cancelled"] == False]

In [45]:
df_notcancelled = df_notcancelled.drop('Cancelled', axis = 1)

In [46]:
df1 = df_notcancelled[df_notcancelled["Diverted"] == False]
df1 = df1.drop('Diverted', axis = 1)

In [47]:
null_dep_time_count = df1["DepTime"].isnull().sum()
print("Number of records with null DepTime:", null_dep_time_count)

Number of records with null DepTime: 0

In [50]:
df1 = df1.drop("Airline", axis=1)

In [51]:
df1 = df1.drop("FlightDate", axis=1)

In [52]:
df1

,Origin,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
1,LAS,OAK,925,1029.0,64.0,64.0,1154.0,54.0,64.0,95.0,...,1045.0,1149.0,5.0,1100,54.0,1.0,3.0,1100-1159,2,0.0
2,LAS,OAK,1820,1826.0,6.0,6.0,1949.0,0.0,67.0,95.0,...,1838.0,1945.0,4.0,1955,-6.0,0.0,-1.0,1900-1959,2,0.0
4,LAS,OAK,2155,2317.0,82.0,82.0,41.0,76.0,71.0,90.0,...,2325.0,36.0,5.0,2325,76.0,1.0,5.0,2300-2359,2,0.0
6,LAS,OAK,1145,1436.0,171.0,171.0,1607.0,167.0,64.0,95.0,...,1458.0,1602.0,5.0,1320,167.0,1.0,11.0,1300-1359,2,0.0
8,LAS,OAK,615,610.0,0.0,-5.0,733.0,0.0,62.0,95.0,...,625.0,727.0,6.0,750,-17.0,0.0,-2.0,0700-0759,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4742409,BNA,MDW,1255,1301.0,6.0,6.0,1421.0,0.0,66.0,95.0,...,1310.0,1416.0,5.0,1430,-9.0,0.0,-1.0,1400-1459,2,0.0
4742410,BNA,MDW,730,727.0,0.0,-3.0,845.0,0.0,62.0,90.0,...,740.0,842.0,3.0,900,-15.0,0.0,-1.0,0900-0959,2,0.0
4742411,BNA,MIA,800,757.0,0.0,-3.0,1101.0,0.0,105.0,130.0,...,811.0,1056.0,5.0,1110,-9.0,0.0,-1.0,1100-1159,4,0.0
4742412,BNA,MIA,1300,1252.0,0.0,-8.0,1559.0,0.0,114.0,140.0,...,1300.0,1554.0,5.0,1620,-21.0,0.0,-2.0,1600-1659,4,0.0
4742413,BNA,MKE,1925,1948.0,23.0,23.0,2116.0,21.0,71.0,90.0,...,2000.0,2111.0,5.0,2055,21.0,1.0,1.0,2000-2059,2,0.0